.cellStyle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #555;
    width: 100px;
    height: 100px;
    padding: 16px;
    line-height: 10px;
    text-align: center;
    /* transform to a symmetric pentagon */
    background: #4169e1;
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
}

.buttonStyle {
    background-color: black;
    color: white;
    font-family: sans-serif;
}

.textStyle {
    margin: 8px;
    font-weight: 500;
    font-family: sans-serif;
}
