@import url("https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap");

$gridGap: 15px;
$hexagonWidth: 100px;

$colorRedLight: #fe9191;
$colorRedDark: #f24f4f;
$colorYellowLight: #ffe76c;
$colorYellowDark: #ffc700;
$colorGreenLight: #adf8af;
$colorGreenDark: #65df67;
$colorBlueLight: #6fc5ff;
$colorBlueDark: #0058ff;
$colorRedGradient: linear-gradient(150deg, $colorRedLight, $colorRedDark);
$colorYellowGradient: linear-gradient(
    150deg,
    $colorYellowLight,
    $colorYellowDark
);
$colorGreenGradient: linear-gradient(150deg, $colorGreenLight, $colorGreenDark);
$colorBlueGradient: linear-gradient(150deg, $colorBlueLight, $colorBlueDark);
$colorWhiteGradient: linear-gradient(white, white);

@mixin flexDisplay($j: center, $a: center, $d: row) {
    display: flex;
    justify-content: $j;
    align-items: $a;
    flex-direction: $d;
}

@mixin abPos($l: initial, $t: initial) {
    position: absolute;
    left: $l;
    top: $t;
}

@mixin size($w, $h: $w, $r: 0) {
    width: $w;
    height: $h;
    border-radius: $r;
}

@mixin fontStyle(
    $color: black,
    $size: 16px,
    $weight: 400,
    $letterSpacing: 2px
) {
    color: $color;
    font-size: $size;
    font-weight: $weight;
    letter-spacing: $letterSpacing;
    font-family: "Protest Riot", sans-serif;
}

@mixin cellStyle($backgroundColor: $colorBlueLight) {
    @include flexDisplay(center, center, column);
    position: relative;
    width: $hexagonWidth;
    height: calc((sqrt(3) / 2) * $hexagonWidth);
    padding: 15px;
    margin: 0 $gridGap;
    line-height: 10px;
    text-align: center;
    /* transform to a symmetric hexagon */
    background: $backgroundColor;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

@mixin buttonStyle($primaryColor: black, $secondaryColor: white) {
    z-index: 12;
    @include fontStyle($secondaryColor, 14px, 300, 1px);
    background-color: $primaryColor;
    color: $secondaryColor;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
    padding: 5px;
    &:hover {
        background-color: $secondaryColor;
        color: $primaryColor;
        cursor: pointer;
    }
    &:disabled {
        background-color: #cccccc;
        color: #666666;
        cursor: none;
    }
}

.board {
    @include flexDisplay(flex-start, flex-start);
    position: relative;
    font-family: "Protest Riot", sans-serif;
    letter-spacing: 1px;
}

.summary {
    @include flexDisplay(flex-start, center, column);
    flex: 220px;
    flex-shrink: 0;
    border-radius: 10px;
    box-shadow: 0px 0px 30px rgba(black, 0.3);
    padding: 8px;
    .title {
        margin: 0;
        padding: 8px;
    }
    .highlightText {
        @include fontStyle(red, 32px, 500);
        margin: 0;
    }
    .smallText {
        @include fontStyle;
        padding: 0 8px;
    }
    .divider {
        width: 100%;
        border-color: rgba(white, 0.7);
    }
    .playerInfo {
        @include flexDisplay(center, center, row);
        @include fontStyle;
        width: 100%;
        border: 4px solid transparent;
        border-radius: 100px;
        margin: 2px;
        .ranking {
            flex: 2;
            padding: 8px;
            @include flexDisplay;
            h1 {
                background: $colorBlueGradient;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                margin: 0;
            }
        }
        .playerIcon {
            flex: 2;
            padding: 8px;
        }
        .score {
            flex: 2;
            padding: 8px;
            @include flexDisplay;
        }

        &.red {
            background: $colorWhiteGradient padding-box,
                $colorRedGradient border-box;
        }
        &.yellow {
            background: $colorWhiteGradient padding-box,
                $colorYellowGradient border-box;
        }
        &.green {
            background: $colorWhiteGradient padding-box,
                $colorGreenGradient border-box;
        }
        &.blue {
            background: $colorWhiteGradient padding-box,
                $colorBlueGradient border-box;
        }
    }
}

.table {
    @include flexDisplay(center, center, column);
    flex: 7;

    .row {
        @include flexDisplay;
    }
}

.emptyCell {
    @include cellStyle;
}

.colonisedCell {
    .fishIconGrid {
        filter: opacity(0);
    }

    $opacity: 0.7;

    &.red {
        @include cellStyle(rgba($colorRedDark, $opacity));
    }
    &.yellow {
        @include cellStyle(rgba($colorYellowDark, $opacity));
    }
    &.green {
        @include cellStyle(rgba($colorGreenDark, $opacity));
    }
    &.blue {
        @include cellStyle(rgba($colorBlueDark, $opacity));
    }
}

.coloniseBtn {
    @include buttonStyle;
}

.locateBtn {
    @include buttonStyle;
}

.textStyle {
    margin: 8px;
    font-size: 14px;
    color: rgba($color: white, $alpha: 0.85);
}

.labourIconGrid {
    z-index: 10;
    @include size(100%);
    @include flexDisplay;
    @include abPos(0, -5%);
}

.fishIconGrid {
    @include flexDisplay(space-evenly, center, row);
    width: 100%;
}

#winner {
    @include flexDisplay;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 200px;
    background-color: rgba($color: #242424, $alpha: 0.7);
    color: white;
    border-radius: 20px;
}
