@import url("https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap");

$colorRed: #f24f4f;
$colorYellow: #ffc700;
$colorYellowLight: #ffe76c;
$colorGreen: #65df67;
$colorBlue: #4870ff;
$colorGrey: #8c8c8c;
$colorGreyDark: #303030;
$colorPurple: #ab87ff;
$colorPurpleDark: #8049ff;
$colorOrange: #ffba4c;
$colorOrangeDark: #f29100;
$colorGreyShadow: rgba(black, 25%);

$penguinBodyHeight: 90px;
$penguinBodyWidth: 80px;
$fishBodyHeight: 30px;
$fishBodyWidth: 30px;
$fishEyeSize: 5px;
$fishTailSize: 15px;

@mixin flex($j: center, $a: center, $d: row) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $d;
}

@mixin size($w, $h: $w, $r: 0) {
    width: $w;
    height: $h;
    border-radius: $r;
}

@mixin absPos($left, $top) {
    position: absolute;
    left: $left;
    top: $top;
}

* {
    position: relative;
}

/* Penguin Icon */
.grid {
    $width: 0.2em;
    @include flex;
    @include size(120px, 120px, 50%);
    background: $colorBlue content-box;
    border: solid $width $colorBlue;
    padding: $width;
    &.red {
        background: $colorRed content-box;
        border: solid $width $colorRed;
    }
    &.yellow {
        background: $colorYellow content-box;
        border: solid $width $colorYellow;
    }
    &.green {
        background: $colorGreen content-box;
        border: solid $width $colorGreen;
    }
    &.blue {
        background: $colorBlue content-box;
        border: solid $width $colorBlue;
    }
}

.body {
    @include size($penguinBodyWidth, $penguinBodyHeight, 50% 50% 5px 5px);
    background-color: black;

    .face {
        z-index: 6;
        $width: 70px;
        @include size($width, 40px);
        @include absPos(50%, 10%);
        @include flex(center, center, column);
        transform: translateX(calc(-1 * $width / 2));
        .eyes {
            @include flex;
            .eye1 {
                @include size(30px, 30px, 50% 40% 20% 50%);
            }
            .eye2 {
                @include size(30px, 30px, 40% 50% 50% 20%);
            }
            .eye1,
            .eye2 {
                background-color: #fff;
                .eyeBall1,
                .eyeBall2 {
                    $width: 5px;
                    @include size($width, $width, 50%);
                    transform: translateX(calc(-1 * $width / 2));
                    background-color: black;
                }
                .eyeBall1 {
                    @include absPos(60%, 60%);
                }
                .eyeBall2 {
                    @include absPos(40%, 60%);
                }
            }
        }
        .mouth {
            @include size(30px, 5px, 50%);
            margin-top: -5px;
            background-color: $colorYellow;
            box-shadow: inset -1px 1px $colorGreyShadow;
        }
    }

    .belly {
        z-index: 5;
        $len: 60px;
        @include size($len, $len, 50% 50% 5px 5px);
        @include absPos(50%, 100%);
        transform: translateX(calc(-1 * $len / 2)) translateY(-$len);
        background-color: #fff;
        box-shadow: inset 0px -5px $colorGreyShadow;
    }
    .feet {
        $width: 50px;
        $height: 10px;
        z-index: 7;
        @include size($width, $height);
        @include flex;
        justify-content: space-between;
        @include absPos(
            calc($penguinBodyWidth / 2),
            $penguinBodyHeight - $height
        );
        transform: translateX(calc(-1 * $width / 2));
        .foot {
            @include size(20px, 10px, 50%);
            background-color: $colorYellow;
            box-shadow: inset 0px -2px $colorGreyShadow;
        }
    }

    .wings {
        z-index: 8;
        $width: 100px;
        $height: 30px;
        @include size($width, $height);
        @include flex;
        justify-content: space-between;
        @include absPos(
            calc($penguinBodyWidth/2),
            $penguinBodyHeight - $height * 1.5
        );
        transform: translateX(calc(-1 * $width / 2));
        .wing1,
        .wing2 {
            background-color: black;
        }
        .wing1 {
            @include size(20px, 30px, 45% 100% 45% 0);
            transform: translateX(15px);
        }
        .wing2 {
            @include size(20px, 30px, 100% 45% 0 45%);
            transform: translateX(-15px);
        }
    }

    .card {
        z-index: 6;
        $width: 30px;
        @include size($width, $width, 2px);
        @include flex;
        @include absPos(calc($penguinBodyWidth/2), 50px);
        transform: translateX(calc(-1 * $width / 2));
        box-shadow: inset -2px -2px $colorGreyShadow;
        .id > h1 {
            margin: 0;
            font-size: 28px;
            font-family: "Protest Riot", sans-serif;
            color: white;
        }
        &.red {
            background-color: $colorRed;
        }
        &.yellow {
            background-color: $colorYellow;
        }
        &.green {
            background-color: $colorGreen;
        }
        &.blue {
            background-color: $colorBlue;
        }
    }
}

/* animation style */
@keyframes cardAnimation {
    0% {
        transform: translateX(-15px);
    }
    100% {
        transform: translateX(-15px) translateY(-6px);
    }
}

.body:hover {
    .wing1 {
        @include size(20px, 30px, 100% 45% 0 45%);
        transform: translateX(0px);
    }
    .wing2 {
        @include size(20px, 30px, 45% 100% 45% 0);
        transform: translateX(0px);
    }
    .card {
        animation: cardAnimation 0.5s infinite alternate;
    }
}

/* Fish Icon */
@mixin fish(
    $primary,
    $secondary,
    $bodyWidth,
    $bodyHeight: $bodyWidth,
    $eyeSize,
    $tailsSize
) {
    @include size($bodyWidth, $bodyHeight, 100% 100% 5% 100%);
    background-color: $primary;
    box-shadow: inset 0px calc(-0.1 * $bodyWidth) $secondary;

    .eye {
        @include size($eyeSize, $eyeSize, 100%);
        background-color: black;
        position: absolute;
        border: solid 2px white;
        top: 15%;
        left: 20%;
    }

    .tails {
        @include size($tailsSize, $tailsSize);
        position: absolute;
        top: $bodyHeight - calc($tailsSize / 2);
        left: $bodyWidth - calc($tailsSize / 2);
        transform: rotate(-45deg);
        .tail1,
        .tail2 {
            background-color: $primary;
        }
        .tail1 {
            z-index: 3;
            @include size(calc($tailsSize / 2), $tailsSize, 0 100% 100% 0);
            transform: rotate(45deg);
            position: absolute;
            left: 5%;
            box-shadow: inset 0px calc(-0.1 * $bodyWidth) $secondary;
        }
        .tail2 {
            z-index: 2;
            @include size(calc($tailsSize / 2), $tailsSize, 100% 0 0 100%);
            transform: rotate(-45deg);
            position: absolute;
            right: 5%;
            box-shadow: inset calc($bodyWidth * 0.1) 0px $secondary;
        }
    }
}

.fish-1 {
    @include fish(
        $colorGrey,
        $colorGreyDark,
        $fishBodyWidth,
        $fishBodyHeight,
        $fishEyeSize,
        $fishTailSize
    );
}

.fish-2 {
    @include fish(
        $colorPurple,
        $colorPurpleDark,
        $fishBodyWidth,
        $fishBodyHeight,
        $fishEyeSize,
        $fishTailSize
    );
}

.fish-3 {
    @include fish(
        $colorOrange,
        $colorOrangeDark,
        $fishBodyWidth,
        $fishBodyHeight,
        $fishEyeSize,
        $fishTailSize
    );
}
