@import url("https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap");

$colorRed: #f24f4f;
$colorYellow: #ffc700;
$colorYellowLight: #ffe76c;
$colorGreen: #65df67;
$colorBlue: #4870ff;
$colorGreyShadow: rgba(black, 25%);

$bodyHeight: 180px;
$bodyWidth: 160px;

@mixin flex($j: center, $a: center, $d: row) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $d;
}

@mixin size($w, $h: $w, $r: 0) {
    width: $w;
    height: $h;
    border-radius: $r;
}

@mixin absPos($left, $top) {
    position: absolute;
    left: $left;
    top: $top;
}

* {
    position: relative;
}

.grid {
    @include flex;
    @include size(240px, 240px, 50%);
    transform: scale(0.45);
    background: $colorBlue content-box;
    border: solid 0.5em $colorBlue;
    padding: 0.5em;
    &.red {
        background: $colorRed content-box;
        border: solid 0.5em $colorRed;
    }
    &.yellow {
        background: $colorYellow content-box;
        border: solid 0.5em $colorYellow;
    }
    &.green {
        background: $colorGreen content-box;
        border: solid 0.5em $colorGreen;
    }
    &.blue {
        background: $colorBlue content-box;
        border: solid 0.5em $colorBlue;
    }
}

.body {
    @include size($bodyWidth, $bodyHeight, 50% 50% 10px 10px);
    background-color: black;

    .face {
        z-index: 6;
        $width: 140px;
        @include size($width, 80px);
        @include absPos(50%, 10%);
        @include flex(center, center, column);
        transform: translateX(-$width/2);
        .eyes {
            @include flex;
            .eye1 {
                @include size(60px, 60px, 50% 40% 20% 50%);
            }
            .eye2 {
                @include size(60px, 60px, 40% 50% 50% 20%);
            }
            .eye1,
            .eye2 {
                background-color: #fff;
                .eyeBall1,
                .eyeBall2 {
                    $width: 10px;
                    @include size($width, $width, 50%);
                    transform: translateX(-$width/2);
                    background-color: black;
                }
                .eyeBall1 {
                    @include absPos(60%, 60%);
                }
                .eyeBall2 {
                    @include absPos(40%, 60%);
                }
            }
        }
        .mouth {
            @include size(60px, 10px, 50%);
            margin-top: -10px;
            background-color: $colorYellow;
            box-shadow: inset -2px 2px $colorGreyShadow;
        }
    }

    .belly {
        z-index: 5;
        $len: 120px;
        @include size($len, $len, 50% 50% 10px 10px);
        @include absPos(50%, 100%);
        transform: translateX(-$len/2) translateY(-$len);
        background-color: #fff;
        box-shadow: inset 0px -10px $colorGreyShadow;
    }
    .feet {
        $width: 100px;
        $height: 20px;
        z-index: 7;
        @include size($width, 20px);
        @include flex;
        justify-content: space-between;
        @include absPos($bodyWidth/2, $bodyHeight - $height);
        transform: translateX(-$width/2);
        .foot {
            @include size(40px, 20px, 50%);
            background-color: $colorYellow;
            box-shadow: inset 0px -5px $colorGreyShadow;
        }
    }

    .wings {
        z-index: 8;
        $width: 200px;
        $height: 60px;
        @include size($width, $height);
        @include flex;
        justify-content: space-between;
        @include absPos($bodyWidth/2, $bodyHeight - $height * 1.5);
        transform: translateX(-$width/2);
        .wing1,
        .wing2 {
            background-color: black;
        }
        .wing1 {
            @include size(40px, 60px, 45% 100% 45% 0);
            transform: translateX(30px);
        }
        .wing2 {
            @include size(40px, 60px, 100% 45% 0 45%);
            transform: translateX(-30px);
        }
    }

    .card {
        z-index: 6;
        $width: 60px;
        @include size($width, $width, 5px);
        @include flex;
        @include absPos($bodyWidth/2, 100px);
        transform: translateX(-$width/2);
        box-shadow: inset -5px -5px $colorGreyShadow;
        .id > h1 {
            margin: 0;
            font-size: 56px;
            font-family: "Protest Riot", sans-serif;
            color: white;
        }
        &.red {
            background-color: $colorRed;
        }
        &.yellow {
            background-color: $colorYellow;
        }
        &.green {
            background-color: $colorGreen;
        }
        &.blue {
            background-color: $colorBlue;
        }
    }
}

/* animation style */
@keyframes cardAnimation {
    0% {
        transform: translateX(-30px);
    }
    100% {
        transform: translateX(-30px) translateY(-12px);
    }
}

.body:hover {
    .wing1 {
        @include size(40px, 60px, 100% 45% 0 45%);
        transform: translateX(0px);
    }
    .wing2 {
        @include size(40px, 60px, 45% 100% 45% 0);
        transform: translateX(0px);
    }
    .card {
        animation: cardAnimation 0.5s infinite alternate;
    }
}
